<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Pokemon</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Delete Pokemon</h1>

    <p>Are you sure you want to delete the Pokemon <%= pokemon.name %>? This action cannot be undone.</p>

    <form action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
        <a href="/pokemon">Cancel</a>
    </form>
    <script src="/script.js"></script>
</body>
</html>
