<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Pokedex</h1>
    <ul>
        <% pokemon.forEach(function(pokemon) { %>
            <li>
                <a href="/pokemon/<%= pokemon.indexOf(pokemon) %>">
                    <%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %>
                </a>
            </li>
        <% }) %>
    </ul>
    
</body>
</html>