

body {
    background-color: #c7bfe6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .pokeChar a img {
    height: 200px;
    width: 200px;
    border: 5px solid #3B4CCA;
    border-radius: 5px;
    box-shadow: 8px 8px rgb(23, 22, 22);
}

.pokeChar {
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    padding: 10px 0 10px 0;
    font-size: 1.5rem; 
}


 
  
  .container {
   
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #040303;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #ec0537;
    margin-bottom: 10px;
  }
  
  /* ul {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
  } */

  .showImage img {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #820a0a;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    display: block;
    margin-bottom: 10px;
  }
  
  .card-details {
    margin-top: 20px;
  }
  
  .card-details h3 {
    margin-top: 0;
  }
  
  .card-details ul {
    margin: 10px;
  }
  
  .card-details li {
    margin-bottom: 5px;
  }
  
  .card-details .label {
    
    font-weight: bold;
  }
  
  .card-details .label::after {
    content: ":";
  }
  
  .card-details .moves {
    margin-top: 10px;
  }
  
  .card-details .moves ul {
    margin-left: 20px;
  }
  
  .card-details .moves li {
    margin-bottom: 5px;
  }
  
  